{% extends 'layout/base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="content-form">
    <h1>Event</h1>
<div class="row">
    <table class="table col">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Nombre Votes</th>
                <td>{{ event.nbrVote }}</td>
            </tr>
            <tr>
                <th>Date_end_vote</th>
                <td>{{ event.dateEndVote ? event.dateEndVote|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% set foo = 0 %}
{% for item in  event.getGroupMails().getValues%}
    {% set foo = foo+item.getUsers().getValues()|length %}
{% endfor %}

    <div class=" col">
            <div class="panel-heading ">
                <b class="panel-title">
                    Date Possible de l'event</b>
            </div>
        <br>
        {% for item in event.getOptionDateEvent().getValues() %}
        <div class="progress">
            <input type="checkbox" value="">

                            <div class="progress-bar progress-bar-striped " role="progressbar" style="width: {{ (item.nbrVote*100)/foo }}%" >

                                {{ item.nbrVote }}
                            </div>
            <div class="col" style="padding-top: 10px">{{ item.getOptionDate()|date('j F  Y') }}</div>

        </div>
        <br>
        {% endfor %}
        <div class="panel-footer text-center">
                <button type="button" class="btn btn-success btn-block btn-sm">
                    Vote</button>
            </div>
    </div>

</div>
    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
</div>
{% endblock %}
