<div class="container">
{{ form_start(form) }}

<div class="row">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom,{
        'attr':{
            'class': 'form-control',
        }
    }) }}
</div>
<br>
<div class="row">

    {{ form_label(form.description) }}
    {{ form_widget(form.description,{
        'attr':{
            'class': 'form-control',
            'multiple':'true',

        }
    }) }}
</div>
    <br>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>